@model Group.Models.Mapper

@{
    ViewData["Title"] = "Register";

}
<link href="~/css/site.css" rel="stylesheet" />


<h1 class="text-center">
    <img src="~/images/2020-01-27 (3).png" style="width:100%" />
</h1>


<h2 class="h2 span"><span>Register</span></h2>


<hr />

<div class="row">
    <div class="col-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label">First Name</label>
                <input asp-for="firstName" class=" form-control-lg" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="email" class="control-label">Email</label>
                <input asp-for="email" class="form-control-lg" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label">Phone Number</label>
                <input asp-for="phoneNumber" class="form-control-lg" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>

            <br />

        </form>
    </div>
</div>

<div class="col-2"></div>

<div class="col-5">
    <div class="form-group">
        <label asp-for="lastName" class="control-label">Last Name</label>
        <br />
        <input asp-for="lastName" class="form-control-lg" />
        <span asp-validation-for="lastName" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="password" class="control-label">Password</label>
        <br />
        <input asp-for="password" class="form-control-lg" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="currentBase" class="control-label">Currenty Duty Station</label>
        <input asp-for="currentBase" class="form-control-lg" />
        <span asp-validation-for="currentBase" class="text-danger"></span>
    </div>
</div>

<h2 class="text-left">Profile Network:</h2>

<br />

<div class="col-12">
    <font size="2">When checking the box, you are agreeing that other Military Families can see your profile such as: your name, photos, comments, email, and/or phone.</font>
    <p><font size="2">Otherwise, Military families will not be able to see your profile, photos, email and/ or phone.</font></p>
    <p><font size="2">If you wish to change it, go to <strong>'edit profile'</strong> on the main menu.</font></p>
    <div class="form-group form-check">
        <br />
        <label class="form-check-label">
            
            <input class="form-check-input" asp-for="Public" /> @Html.DisplayNameFor(model => model.Public)
        </label>
        <br />
    </div>
</div>

<br />


<div class="col-12">
    <font size="2">Would you like to receive notifications? Such as, other military families contacting you or comments to your recommendations.</font>
    <p><font size="2">If you do not check the box, you are not receiving any notifications.</font></p>
    <div class="form-group form-check">
        <br />
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Notifications" /> @Html.DisplayNameFor(model => model.Notifications)
        </label>
        <br />
    </div>
</div>

    <br />
   <div class="col-4"></div>

<br />

   <div class="col-3 text-right">
       <div class="form-group">
           <input type="submit" value="Create" class="btn btn-primary" />
       </div>
   </div>

<br />

<div class="col-5"></div>

@*<a asp-action="Index">Back to List</a>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
