/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.vl {
    border-left: 6px solid ;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 40px 0 20px;
}

    .h2 span {
        background: #fff;
        padding: 0 10px;
    }

.btn-primary {
    width: 150px;
    text-align: center;
    margin: 0 auto;
}

.frame {
    width: 450px;
    height: 450px;
    border: 1px solid #000000;
    background: #eee;
    margin: auto;
    padding: 15px 25px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #2c4db4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
}

.button {
    width: 250px;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2c4db4;
    }

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

    /* The search field when it gets focus/clicked on */
    #myInput:focus {
        outline: 3px solid #ddd;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}


/*img {
    width: 100%;
    height: 100%;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}



.custom {
    font-family: 'Global Serif';
    color: black;
    font-size: 50px;
}

.para {
    font-family: 'Global Serif';
    color: black;
    font-size: 17px;
}


#carouselExampleCaptions {
    margin-bottom: 5rem;
}





body {
    background: transparent;
    font-family: "Fira Sans", sans-serif;
    padding-right: 2rem;
}

* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    max-width: 1300px;
    margin: auto;
}

.gallery__strip {
    min-height: 100vh;
}

.gallery__strip__wrapper {
    flex: 0 0 100%;
    justify-content: flex-end;
    background: transparent;
    border-right: 2px solid #333;
    position: relative;
}

@media (min-width: 500px) {
    .gallery__strip__wrapper {
        flex: 0 0 50%;
    }
}

@media (min-width: 950px) {
    .gallery {
        height: 100vh;
    }

    .gallery__strip.one {
        animation: 60s move-it ease alternate infinite 5s;
        transform: translateY(2%);
    }

    .gallery__strip.three {
        animation: 70s move-it ease alternate infinite 6s;
        transform: translateY(2%);
    }

    .gallery__strip.two {
        animation: 58s move-it-2 ease alternate infinite 5s;
        transform: translateY(-50%);
    }

    .gallery__strip.four {
        animation: 65s move-it-2 ease alternate infinite 5.5s;
        transform: translateY(-50%);
    }

    .gallery__strip:hover {
        animation-play-state: paused;
    }

    .gallery__strip__wrapper {
        flex: 0 0 25%;
    }
}

.photo {
    position: relative;
    text-align: right;
    padding-bottom: 8rem;
}

.photo__image img {
    width: 90%;
    transform: translateX(30%);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.photo__name {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-top: -25px;
    transition: 0.4s ease-in-out 0.4s;
    position: relative;
    width: 100%;
}

.photo:hover .photo__image img {
    transform: translateX(0%);
}

.photo:hover .photo__name {
    color: #222;
}

@keyframes move-it {
    0%, 90%, 100% {
        transform: translateY(2%);
    }

    45% {
        transform: translateY(-50%);
    }
}

@keyframes move-it-2 {
    0%, 90%, 100% {
        transform: translateY(-50%);
    }

    45% {
        transform: translateY(5%);
    }
}
