
   
        @*<div class="col-xs-4">
            <hr style="margin-top:30px; margin-left:80px; border-top-color:black;" />
        </div>

        <div class="col-xs-4">
            <hr style="margin-top:30px; margin-left:-170px; border-top-color:white;" />
        </div>

        <div class="col-xs-4 text-right">
            <hr style="margin-top:30px; margin-left:-170px; border-top-color:black;" />
        </div>*@
    


