
    


   


    <div class="container">
        <div class="row">

            <div id="carouselExampleCaptions" class="carousel slide col-12" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
                </ol>
                <div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/usa flag.jpg" style="width:100%"/>
                            <div class="carousel-caption d-none d-md-block">
                                <h1><font color="black">USA</font></h1>
                                <p><font size="5" color="black">Home of the Brave.</font></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/troops with flags.jpg" style="width:100%" />
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Army Flags.jpg"  style="width:100%" />
                            <div class="carousel-caption d-none d-md-block">
                                <h1><br /></h1>
                                <p><font size="5" color="black">Stay Army Strong.</font></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Navy flag.png"  style="width:100%" />
                            <div class="carousel-caption d-none d-md-block">                           
                                <h2>Forged with the Sea.</h2>
                                <p><br /></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Air force flag.jpg" style="width:100%" />
                            <div class="carousel-caption d-none d-md-block">
                                <h2><br /></h2>
                                <p><font size="4">Aim High, Flight-Fight-Win!</font></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/coast guard flag.jpg"  style="width:100%"/>
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Marine flag.jpg"  style="width:100%" />
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Space force flag.jpg"  style="width:100%" />
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


            <div class="col-4">
                <form method="post">

                    <h2 class="text-center">Want to be a Mapper?</h2>

                    <div class="form-group row">

                        <label for="iName" class="col-3">Name</label>

                        <input id="iName" name="iName" class="form-control col-9" />

                    </div>

                    <div class="form-group row">

                        <label for="iEmail" class="col-3">Email</label>


                        <input id="iEmail" name="iEmail" class="form-control col-9" />

                    </div>

                    <div class="form-group row">

                        <button class="btn btn-primary btn-sm">Submit</button>

                    </div>
                </form>
            </div>

            <div class="col-4">
                <style>
                    .vl {
                        border-left: 4px solid black;
                        height: 300px;
                    }
                </style>

                <div class="vl"></div>
            </div>

            <div class="col-4">

                <form method="post">

                    <h2 class="text-center">Welcome back Mappers!</h2>

                    <div class="form-group row">

                        <label for="iName" class="col-3">Name</label>

                        <input id="iName" name="iName" class="form-control col-9" />

                    </div>

                    <div class="form-group row">

                        <label for="iEmail" class="col-3">Email</label>

                        <input id="iEmail" name="iEmail" class="form-control col-9" />

                    </div>

                    <div class="form-group row">

                        <button class="btn btn-primary btn-sm">Submit</button>

                    </div>
                </form>

            </div>


        </div>

    </div>











    <!--<div class="col-xs-3">
        Make PCS a Breeze
    </div>

    <div class="col-xs-3">
        Resoureful
    </div>

    <div class="col-xs-3">
        Our Version
    </div>-->

    <!--<div class="navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Message</a></li>
                <li><a href="#">Menu</a></li>
            </ul>
        </div>-->
        <!--<div>
            <p class="text-center bg-success">
                Mappers was created to help military families such as yourself, to Plan for the future, Connect with other military families, and Share memories and information that you know about certain aeas/bases.
            </p>
        </div>-->
        <!--<div class="row">
            <div class="hidden-sm">
                <a href="#">More Details...</a>
            </div>
        </div>

        <div class="visible-sm">
            <a href="#">blah blah blah</a>
        </div>


        <header class="secondHeader">
            <h1>Mappers</h1>
        </header>-->