@{
    ViewData["Title"] = "Overview";
}
<div class="container">

    <h4 class="text-center" style="margin-top:30px"><span>Welcome Mappers!</span></h4>

    <div class="row">
        <h2 class="h2 span text-center"><span>Overview</span></h2>
        <div class="col-3 text-left" style="margin-top:170px">
            <h4 class="text-center">
                <strong><link /><a href="~/States/Texas">Texas</a></strong>
            </h4>
            <br />
            <h4 class="text-center">
                <strong><link /><a href="~/States/Maryland">Maryland</a></strong>
            </h4>
            <br />
            <h4 class="text-center">
                <strong><link /><a href="~/States/Washington">Washington</a></strong>
            </h4>
            <br />
        </div>
        <div class="col-8 text-right" style="margin-top:40px">
            <img src="~/images/usa-clear-map.jpg" style="width:100%" />
        </div>
    </div>
</div>
