@model Group.Models.Base

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control-lg" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>      
            <div>                      
                <select name="StateID">
                    @foreach (var item in ViewBag.States)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>               
            </div>
            <br />
            <div class="form-group ">
                <label asp-for="BaseName" class="control-label">Base Name</label>
                <input asp-for="BaseName" class="form-control-lg" />
                <span asp-validation-for="BaseName" class="text-danger"></span>
            </div>            
            <div>
                <label asp-for="Branch" class="control-label"></label>
                <select name="BranchID">
                    @foreach (var item in ViewBag.Branches)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
