
<h2 class="h2 span"><span>Maryland</span></h2>


<div class="container">
    <div class="row">
        <div class="col-4">

        </div>

        <div class="col-4">
            <h6 class="text-center">
                <a href="~/Bases/FortMeade">Fort Meade</a>
            </h6>
            <h6 class="text-center">
                <a href="~/Bases/WalterReedMedical">Walter Reed</a>
            </h6>
        </div>

        <div class="col-4">

        </div>


        <div class="col-6">
            <h3 class="custom"><strong>Number of Active Duty and Reserve Members in Maryland</strong></h3>
            <p class="para">
                Maryland has eleven military bases for every branch of the military beside the Marine Corps.
                There was a total of 1.3 million active duty military and reserves as of September 2017. In Maryland there are a total of 28,888 active duty personnel.
            </p>
            <h3 class="custom"><strong>Climate</strong></h3>
            <p class="para">
                Maryland generally have hot humid summers that is strongly influenced by Chesapeake Bay and Atlantic Ocean and cool winters. The upland in the west have colder and longer winters and shorter summers compare to the lowlands and the Eastern shores.
                The average temperatures in Western Maryland is -40 °F – 100 °F or more.
                The East has a humid climate because of Chesapeake Bay and the Atlantic Ocean. The average temperature in January for the Eastern Maryland is 75 °F in July and 35 °F in January.
                Summer can produce high temperatures up to 107 °F, with nearly 100% humidity.
                There are also storms that sweep in from the west and south, except in the summer. Hurricanes often drench Maryland from the East. So, expect different types of weather conditions in Maryland!
            </p>
            <h3 class="custom"><strong>Population</strong></h3>
            <p class="para">
                Maryland is one of the smallest states in the country, however, it’s one of the busiest and most bustling areas in the union. Maryland has an estimated population of 6.08 million, as of 2020.
                In 2010, showing there were 5,773,552 people living in Maryland is a rise of 9% declared in 2000.
                From further estimates it suggests that the population of Maryland in 2016 it was 6,006,401. Maryland also has a healthy population growth rate of .96% which ranks 20th in the country.
            </p>
        </div>
        <div class="col-2">

        </div>

        <div class="col-4">
            <div class="gallery">
                <div class="gallery__strip__wrapper">
                    <div class="gallery__strip one">
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/washington DC.jpg" /></div>
                            <div class="photo__name">Washington DC</div>
                        </div>
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/national habor.jpg" /></div>
                            <div class="photo__name">National Habor</div>
                        </div>
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/Ocean City.jpg" /></div>
                            <div class="photo__name">Ocean City</div>
                        </div>
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/baltimoreMD.jpg" /></div>
                            <div class="photo__name">Baltimore MD</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

