@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2 class="h2 span"><span>Texas</span></h2>


<div class="container">
    <div class="row">
        <div class="col-4">

        </div>

        <div class="col-4">
            <ul>
                <a href="~/Bases/LacklandAFB">Lackland Air Force Base</a>
                <a href="~/Bases/FortSamHouston">Fort Sam Houston</a>
            </ul>
        </div>

    </div>
</div>