


<h2 class="h2 span"><span>Texas</span></h2>


<div class="container">
    <div class="row">
        <div class="col-4">

        </div>

        <div class="col-4">

            <h6 class="text-center">
                <a href="~/Bases/LacklandAFB">Lackland Air Force Base</a>
            </h6>
            <h6 class="text-center">
                <a href="~/Bases/FortSamHouston">Fort Sam Houston</a>
            </h6>

        </div>

        <div class="col-4">

        </div>
        <div class="col-6">
            <h3 class="custom"><strong>Number of Active Duty and Reserve Members in Texas</strong></h3>
            <p class="para">
                164,234
                <br />
                This is the second most service members in a state (only behind California at 184,540)
            </p>
            <h3 class="custom"><strong>Climate</strong></h3>
            <p class="para">Virtually every kind of weather condition has been known to occur in Texas. January temperatures in the Rio Grande valley have been known to register well into the 90s F (about 32 °C), while blizzards have blocked highways in the Panhandle section of the state during the same month. The Gulf Coast area around Houston has average annual temperatures in the low 70s F (about 21 °C) and precipitation of some 45 inches (1,100 mm), whereas the Panhandle averages in the low 60s F (about 16 °C) with less than 20 inches (500 mm) of rain. The driest region is the Trans-Pecos, and the wettest is the southeast. Southern areas have freezing weather only rarely. In Brownsville, the southernmost Texas city, snow is rare, but the northwestern corner of the state averages about 23 inches (580 mm) annually. </p>
            <h3 class="custom"><strong>Population</strong></h3>
            <p class="para">
                Texas is the second most populous U.S. state, with an estimated 2018 population of 25.154 million.[1] In recent decades, it has experienced strong population growth. Texas has many major cities and metropolitan areas, along with many towns and rural areas. Much of the population is in the major cities of Houston, San Antonio, Dallas, Fort Worth, Austin, and El Paso.
                <br />
                The 2010 US Census recorded Texas as having a population of 25.1 million—an increase of 4.3 million since the year 2000, involving an increase in population in all three subcategories of population growth: natural increase (births minus deaths), net immigration, and net migration. The state passed New York in the 1990s to become the second-largest U.S. state in population, after California.
            </p>
        </div>
        <div class="col-2">

            </div>
        <div class="col-4">
            <div class="gallery">
                <div class="gallery__strip__wrapper">
                    <div class="gallery__strip one">
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/Bucees.jpg" /></div>
                            <div class="photo__name">Buc ee's</div>
                        </div>
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/riverwalkTX.jpg" /></div>
                            <div class="photo__name">Riverwalk</div>
                        </div>
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/alamoTX.jpg" /></div>
                            <div class="photo__name">The Alamo</div>
                        </div>
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/downtown austin.jpg" /></div>
                            <div class="photo__name">Downtown Austin</div>
                        </div>
                    </div>
                </div>
            </div>
      
            </div>
        </div>
</div>
