
<h2 class="h2 span"><span>Washington</span></h2>


<div class="container">
    <div class="row">
        <div class="col-4">

        </div>

        <div class="col-4">
            <h6 class="text-center">
                <a href="~/Bases/Everett">NAS Everett</a>
            </h6>
            <h6 class="text-center">
                <a href="~/Bases/LewisMcChord">Joint Base Lewis-McChord </a>
            </h6>
        </div>

        <div class="col-4">

        </div>


        <div class="col-6">
            <h3 class="custom"><strong>Number of Active Duty and Reserve Members in Washington</strong></h3>
            <p class="para">
                Washington has 7 military bases and multiple Coast Guard stations. 
                There was a total of 1.3 million active duty military and more than 800,000 reserves as of September 2017. 
                In Washington there are a total of 45,343 active duty personnel.
            </p>
            <h3 class="custom"><strong>Climate</strong></h3>
            <p class="para">
                Washington's climate varies greatly from east to west.In general, the western part of the state tends to be humid, mild and altogether temperate, whereas Eastern Washington is characterized by a much drier, cooler climate. Summer days west of the Cascades rarely rise above 80 degrees Fahrenheit, and winter is fairly pleasant. The eastern part of the state, on the other hand, experiences very cold winters and warm summers.
            </p>
            <h3 class="custom"><strong>Population</strong></h3>
            <p class="para">
                Current estimates show Washington with a current population of 7.17 million, with projected growth estimated to be above 1.7% rapid growth is expected to continue.         This population places Washington as the 13th most populous state in the country, but only 25th in terms of population density.
            </p>
        </div>

        <div class="col-2">

        </div>

        <div class="col-4">
            <div class="gallery">
                <div class="gallery__strip__wrapper">
                    <div class="gallery__strip one">
                        <div class="photo">
                            <div class="photo__image"><img src="~/images/WACapital.jpg" /></div>
                            <div class="photo__name">Olympia, WA</div>
                        </div>

                        <div class="photo">
                            <div class="photo__image"><img src="~/images/Seattle-Skyline.jpg" /></div>
                            <div class="photo__name">Seattle, WA</div>
                         </div>

                        <div class="photo">
                             <div class="photo__image"><img src="~/images/Mount_Rainier.jpg" /> </div>
                             <div class="photo__name">Mount Rainier</div>
                        </div>
                        <div class="photo">
                             <div class="photo__image"><img src="~/images/spokaneWA.jpg" /></div>
                             <div class="photo__name">Spokane, WA</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
