
<h1 class="text-center">
    <img src="/images/2019-12-22 (6).png" style="width:100%" />
</h1>


<div class="container">
    <div class="row">

        <div class="col-3 text-sm-left">


            @*<hr style="margin-top:30px; margin-left:-170px; border-top-color:black;" />*@


            <h3 class="text-left">
                <hr style="margin-top:10px; margin-left:5px; margin-right:5px; border-top-color:black;" />
                About Us
            </h3>
            <br />
            <h4 class="text-left">
                <strong>Our Purpose</strong>
            </h4>
            <p class="text-left">
                Mappers was created to help military families such as yourself, to Plan for the future, Connect with other military families, and Share memories and informations that you know about certain areas/bases.
            </p>
            <br />
            <h4 class="text-left">
                <strong>Make PCS a Breeze</strong>
            </h4>
            <p class="text-left">
                How, do you ask? Well it's simple. Here on Mappers you can plan ahead by searching the next duty station you most likely to move to.
                Then you can start connecting with other military families that lives there, where they can share some information such as, school info, living info, or maybe somewhere you want to take your family to eat
            </p>
            <br />
            <h4 class="text-left">
                <strong>Resourceful</strong>
            </h4>
            <p class="text-left">
                Have you ever experience a time where you forget that you need paper works for certain things or need things done? We all been there!
            </p>
            <br />
            <p class="text-left">
                Well, we have a solution for you! A checklist that you can add, edit, remove, or check it off once completed. This checklist not only store your 'to-do' but it will also alert you with reminders.
                No more last minute!
            </p>
            <br />
            <h4 class="text-left">
                <strong>Our Version</strong>
            </h4>
            <p class="text-left">
                We the Mappers, believe in our version of PCS as <strong>Plan</strong>, <strong>Connect</strong>, and <strong>Share</strong>.
                Where there is a military families waiting for you and your family with open arms and to feel more at home at your next duty station.
            </p>


            @*</div>
                <div class="col-1 text-sm-center">
                    <hr style="margin-top:30px; margin-left:-170px; border-top-color:black;" />*@


        </div>

        <div class="col-7 text-sm-right">
            <img src="/images/flagss.jpg" width="800" height="1100">
        </div>

        <div class="col-1">

        </div>



    </div>
</div>
