<link href="~/css/site.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Profile";
}

<h2 class="h2 span"><span>Profile</span></h2>

<div class="text-left">

    <div class="frame">
        <label for="file">
            <input type="file" id="file" name="file" accept="image/*" onchange="loadFile(event)" style="opacity:0;">
            <img id="output" style="width:100%; height:100%" />
        </label>
        <script>
            var loadFile = function (event) {
                var reader = new FileReader();
                reader.onload = function () {
                    var output = document.getElementById('output');
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            };
        </script>
    </div>
</div>