<link href="~/css/site.css" rel="stylesheet" />

@{
    ViewData["Title"] = "MyProfile";
}

<h2 class="h2 span"><span>Profile</span></h2>

<style>
    #file {
        display: none;
    }
</style>


<label for="file">
    <img src="/images/Army Flags.jpg" width="500" height="500" />
</label>
<input type="file" id="file" name="file" />